# Bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/


# Distribution / packaging
build/
dist/
eggs/
*.egg-info/
*.whl

# Install logs
pip-log.txt
pip-delete-this.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
coverage.xml
nosetests.xml
pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# PyInstaller
*.manifest
*.spec

# C extensions
*.so

# OS
.DS_Store
Thumbs.db

# Poetry
poetry.lock

# mypy cache
.mypy_cache/

# Local settings
local_settings.py
secrets.json

# Logs
*.log

# Temp files
*.tmp
*.swp
*~
# Datasette
datasette_*.db
